@using TestWebApp.Models
@model MessageViewModel

@{
    ViewBag.Title = "Новое сообщение";
}

<h2>Сообщение для: @ViewBag.ToName</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.ToId, Model.ToId)

        <div class="form-group">
            @Html.LabelFor(model => model.FromId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FromId, MessageViewModel.OtherPeople(Model.ToId), new { @class = "btn btn-default dropdown-toggle" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Text, "", new {@class = "text-danger"})
            </div>
        </div>

        <h4>Задача</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.HasJob, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.HasJob)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobTitle, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobTitle, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.JobTitle, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobContent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobDeadLine, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.JobDeadLine, new { @class = "datepicker", @type = "date" })
                @Html.ValidationMessageFor(model => model.JobDeadLine, "", new {@class = "text-danger"})
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                    
                <input type="submit" value="Отправить" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Все сообщения", "Index")
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
